<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Login">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>login</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="login.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery-1.9.1.min.js"  defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.9.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "default-logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="login">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode u-tabs">
    <section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="sec-a427" style="flex: 1 1 auto;">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <!--<div class="u-align-center u-container-style u-image u-layout-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="1080" data-image-height="1080">-->
              <!--  <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>-->
              <!--</div>-->
              <div class="u-align-left u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1">Sign In</h2>
                  <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                  <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-form u-login-control u-form-1">
                      
                      <%= form_with url: sign_in_path, :class => "u-clearfix u-form-custom-backend u-form-spacing-20 u-form-vertical u-inner-form" do |f| %>
                        <div class="u-form-group u-form-name">
                        <%= f.label 'email/username:', :class => "u-label" %><br>
                        <%= f.text_field :email_username, id: 'email_username', :class => "u-grey-10 u-input u-input-rectangle u-input-1" %>
                        </div>
                        <div class="u-form-group u-form-password">
                        <%= f.label 'password:', :class => "u-label" %><br>
                        <%= f.password_field :password, id: 'password', :class => "u-grey-10 u-input u-input-rectangle u-input-2" %>
                        </div>
                        <div class="u-form-checkbox u-form-group">
                        <input type="checkbox" id="checkbox-a30d" name="remember" value="On">
                        <label for="checkbox-a30d" class="u-label">Remember me</label>
                        </div>
                        <div class="u-align-left u-form-group u-form-submit">
                        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-1-base u-btn-1 u-hover-palette-2-base">Login</a>
                        <%= f.submit 'submit', :class => "u-form-control-hidden" %>
                        </div>
                        <input type="hidden" value="" name="recaptchaResponse">
                          <input type="hidden" id="siteId" name="siteId" value="1799786">
                          <input type="hidden" id="pageId" name="pageId" value="1801885">
                      <% end %>
                      
                    
                  </div>
                  <a <%= link_to 'Forgot your password?', password_reset_path, :class => "u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-active-palette-2-base u-text-grey-40 u-text-hover-palette-2-base u-btn-2" %>
                  </a>
                  <a href="/sign_up" class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-login-control u-login-create-account u-none u-text-active-palette-2-base u-text-grey-40 u-text-hover-palette-2-base u-btn-3">Don't have an account?</a>
                </div>
              </div>
            </div>
          </div>
      <!--  </div>-->
      <!--          <p class="u-text u-text-default u-text-2">Image from <a href="https://www.freepik.com/photos/woman" class="u-active-none u-border-1 u-border-active-palette-2-light-2 u-border-hover-palette-2-light-2 u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-4">Freepik</a>-->
      <!--  </p>-->
      <!--</div>-->
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b7bf"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Copyright by FashioNXT LLC.</p>
      </div></footer>
  </body>
</html>