<%= form_with(model: step) do |form| %>
  <% if step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.text_field :start_date %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.text_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.text_field :end_time %>
  </div>

  <div>
    <%= form.label :break1_start_time, style: "display: block" %>
    <%= form.text_field :break1_start_time %>
  </div>

  <div>
    <%= form.label :break1_end_time, style: "display: block" %>
    <%= form.text_field :break1_end_time %>
  </div>

  <div>
    <%= form.label :break2_start_time, style: "display: block" %>
    <%= form.text_field :break2_start_time %>
  </div>

  <div>
    <%= form.label :break2_end_time, style: "display: block" %>
    <%= form.text_field :break2_end_time %>
  </div>

  <div>
    <%= form.label :plan_id, style: "display: block" %>
    <%= form.text_field :plan_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
