<div id="<%= dom_id step %>">
  <p>
    <strong>Start date:</strong>
    <%= step.start_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= step.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= step.end_time %>
  </p>

  <p>
    <strong>Break1 start time:</strong>
    <%= step.break1_start_time %>
  </p>

  <p>
    <strong>Break1 end time:</strong>
    <%= step.break1_end_time %>
  </p>

  <p>
    <strong>Break2 start time:</strong>
    <%= step.break2_start_time %>
  </p>

  <p>
    <strong>Break2 end time:</strong>
    <%= step.break2_end_time %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= step.plan_id %>
  </p>

</div>
