<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= item.model %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= item.width %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= item.length %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= item.depth %>
  </p>

  <p>
    <strong>Rotation:</strong>
    <%= item.rotation %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Xpos:</strong>
    <%= item.xpos %>
  </p>

  <p>
    <strong>Ypos:</strong>
    <%= item.ypos %>
  </p>

  <p>
    <strong>Zpos:</strong>
    <%= item.zpos %>
  </p>

  <p>
    <strong>Step:</strong>
    <%= item.step_id %>
  </p>

</div>
