<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :owner, style: "display: block" %>
    <%= form.text_field :owner %>
  </div>

  <div>
    <%= form.label :venue_length, style: "display: block" %>
    <%= form.text_field :venue_length %>
  </div>

  <div>
    <%= form.label :venue_width, style: "display: block" %>
    <%= form.text_field :venue_width %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
