<div id="<%= dom_id plan %>">
  <p>
    <strong>Name:</strong>
    <%= plan.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= plan.owner %>
  </p>

  <p>
    <strong>Venue length:</strong>
    <%= plan.venue_length %>
  </p>

  <p>
    <strong>Venue width:</strong>
    <%= plan.venue_width %>
  </p>

</div>
