<%= form_with(model: @plan, url: plan_path(@plan), method: :patch) do |form| %>
  <div class="center" style="margin: 5em 0">
    <div class="card custom-card">
      <h1>Edit the Plan</h1>
      <div class="card-body custom-card-body">
        <p>Welcome to PLANXT, a tool to set up an event venue – all furniture and staff placements chronologically, and track the actual setup progress real-time. Let’s get started..</p>

        <div class="form-group row justify-content-md-center">
          <label class="col-form-label"><b>Plan Name</b></label>
          <div class="col-sm-4">
            <%= form.text_field :name, class: "form-control", id: "plan-name", placeholder: "Enter plan name" %>
          </div>
        </div>

        <div>
          <b>Event Days: Setup through Breakdown</b>
        </div>

        <!-- Table structure -->
        <table class="table" style="margin-top: 1em"> 
          <thead class="thead-light">
            <tr>
              <th rowspan="2" style="vertical-align: middle;">Start Date</th>
              <th rowspan="2" style="vertical-align: middle;">Start Time</th>
              <th rowspan="2" style="vertical-align: middle;">End Time</th>
              <th colspan="2">Break 1 (Optional)</th>
              <th colspan="2">Break 2 (Optional)</th>
              <th rowspan="2" style="vertical-align: middle; width:100px">Actions</th>
            </tr>
            <tr>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody id="step-table-body">
            <!-- Table rows will be added dynamically -->
            <%= form.fields_for :steps do |step_form| %>
              <%= render partial: 'plans/step_field', locals: { step_form: step_form } %>
            <% end %>
          </tbody>
        </table>

        <button id="add-step-button" type="button" class="btn btn-secondary">Add Step</button>

        <div class="row row-center">
          <h5 style="margin-right: 2em"> Dimensions of the Venue (approximate):</h5>
          <h5> Length:</h5>
          <div class="col-sm-2">
            <%= form.text_field :venue_length, class: "form-control", id: "plan-venue-length", placeholder: "Length" %>
          </div>
          <h5> Width:</h5>
          <div class="col-sm-2">
            <%= form.text_field :venue_width, class: "form-control", id: "plan-venue-width", placeholder: "Width" %>
          </div>
        </div>

        <div class="button-container">
          <%= form.submit "Update", class: "btn btn-primary", style:"margin-right: 1em; background-color:#478ac9" %>
          <%= link_to "Back", plans_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>
  h1 {
    margin-bottom: 1rem;
  }

  h5 {
    margin: 0px;
  }

  /* Custom CSS class for the card container */
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  /* Custom CSS class for the card */
  .custom-card {
    width: 80%;
    text-align: center;
    padding: 2em;
  }

  /* Custom CSS class for the card body (content container) */
  .custom-card-body {
    padding: 0rem 2rem;
    max-height: 100%;
    overflow-y: auto;
  }

  .row-center {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container {
    text-align: center;
  }

  th {
    font-size: 0.8rem;
    padding: 2px;
  }
</style>

<script>  

$(document).ready(function() {
  $('#add-step-button').click(function() {
    var time = new Date().getTime();
    // Create a new table row with empty step fields
    var newRow = '<tr>' +
      '<td>' +
      `<input type="date" name="plan[steps_attributes][${time}][start_date]" />` +
      '</td>' +
      '<td>' +
      `<input type="time" name="plan[steps_attributes][${time}][start_time]" />` +
      '</td>' +
      '<td>' +
      `<input type="time" name="plan[steps_attributes][${time}][end_time]" />` +
      '</td>' +
      '<td>' +
      `<input type="time" name="plan[steps_attributes][${time}][break1_start_time]" />` +
      '</td>' +
      '<td>' +
      `<input type="time" name="plan[steps_attributes][${time}][break1_end_time]" />` +
      '</td>' +
      '<td>' +
      `<input type="time" name="plan[steps_attributes][${time}][break2_start_time]" />` +
      '</td>' +
      '<td>' +
      `<input type="time" name="plan[steps_attributes][${time}][break2_end_time]" />` +
      '</td>' +
      '<td style="display: inline-block;">' +
      '<button type="button" class="btn btn-danger delete-step"><i class="fa fa-trash"></i></button>' +
      '</td>' +
      '</tr>';

    // Append the new row to the step-table-body
    $('#step-table-body').append(newRow);
  });


  // Delete step row when delete button is clicked
  $('#step-table-body').on('click', '.delete-step', function() {
    var row = $(this).closest('tr');
    var hiddenInput = row.find('.step-destroy-field');
    // Set the _destroy attribute to 1
    hiddenInput.val('1');
    // Mark the row for deletion
    row.data('delete-step', true);
    // Hide the row (optional)
    row.hide();
  });

});


</script>

