<p style="color: green"><%= notice %></p>


<div style="text-align: center; margin-bottom: 20px;">
  <h2 style="color: black;">Plans Management</h2>
</div>

<div style="display:flex; justify-content: flex-end; align-items: center; gap: 10px;">
  <%= link_to "Create a new plan", new_plan_path, class:"btn btn-primary", style:"background-color: #478ac9; height: 38px;" %>
  
  <%= form_tag({controller: 'plans', action: 'upload_existing_plan'}, multipart: true) do %>
    <%= file_field_tag 'plan_file', class: "btn", style:"background-color: #478ac9; height: 38px;" %>
  <% end %>
</div>



  </div>
  <table class="table" style="margin-top: 2em;">
  <thead style="background-color:#478ac9; ">
    <tr>
      <th class="col-2" scope="col">Name</th>
      <th class="col-2" scope="col">Owner</th>
      <th class="col" scope="col">Created</th>
      <th class="col" scope="col">Updated</th>
      <th class="col-2" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>    
      <tr>
        <td>
          <%= plan.name %>
        </td>
        <td>
          <%= plan.owner %>
        </td>
        <td>
          <%= plan.created_at.strftime("%B %d, %Y %H:%M") %>
        </td>
        <td>
          <%= plan.updated_at.strftime("%B %d, %Y %H:%M")  %>
        </td>

        <td style="display:flex">
          <%= link_to(floorplans2d_plan_path(plan), id: "play_plan_#{plan.id}", class: "btn btn-primary #{'disabled' if plan.steps.length == 0}", style:"margin:0 1em 0 0; background-color: #478ac9;") do %>
            <i class="fa fa-play"></i>
          <% end %>

          <%= link_to(edit_plan_path(plan), id: "edit_plan_#{plan.id}", class: "btn btn-primary", style:"margin:0 1em 0 0; background-color: #478ac9;") do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= button_to plan, method: :delete, class: "btn btn-danger" do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Total <%=@plans.length%> plans</h3>
<br/>
<!--<%= link_to "Back", root_path, class:"btn btn-secondary"%>-->
<%= button_to "Logout", logout_path, method: :delete, class:"btn btn-secondary"%>
</div>

<style>
  th {
    color: white;
  }

  .table td {
    vertical-align: middle;
  }
</style>

